.button {
    width: 150px;
    height: 40px;
    background-color: #BE3144;
    border: none;
    color: #ccc;
    font-size: 18px;
    margin-top: 50px;
    
}

.button:hover {
    background-color: #872341;
    cursor: pointer;
}

.button:active {
    background-color: #872341;
    border-color: #872341;
}