.formDiv {
    width: 400px;
    height: 60vh;
    background-color: #0B000D;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  1px 1px 101px #F05941;
}

.formTitle {
    margin: 30px 0px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton {
    width: 300px;
}